*.pyc
*.egg-info
/dist
mtd/build
/build
.DS_Store
.vscode
__pycache__
mtd/languages/*/gsheet/*.json
mtd/tests/test_data/exports/*[^py]
.mypy_cache
.coverage
htmlcov
docs/_build/
*.cprof
*.prof
*.log
mtd/static/assets/js/config-h-nq-min-m.js
mtd/static/assets/js/config-test.js
mtd/static/assets/js/dict_cached-h-nq-min-m.js
mtd/static/assets/js/dict_cached-test.js
*~
