include mtd/languages/*.json
include MANIFEST.in
include requirements.txt
include mtd/templates/*
include mtd/transducers/*
include mtd/buildtools/*.json
include mtd/tests/integration/*.json
recursive-include mtd/tests/test_data/ *
recursive-include mtd/static/ *
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
recursive-exclude mtd/tests/test_data/exports/ *