Flask
Frozen-Flask
openpyxl
pandas
requests
Fabric3
g2p
networkx>=2.5,<=2.8.4
gspread~=3.6.0
jsonschema
jsonpath-ng
jsonpointer
coloredlogs<=14.0
python-slugify
flask_restful
flask_cors
requests
lxml
tqdm
js2py
