editdistance==0.6.2
Flask==3.0.1
Frozen-Flask==1.0.1
openpyxl==3.1.2
pandas==2.2.0
Fabric3==1.14.post1
g2p==0.5.20220318
networkx==2.8.4
gspread==3.6.0
jsonschema==4.21.1
jsonpath-ng==1.6.1
jsonpointer==2.4
coloredlogs<=14.0
python-slugify==8.0.2
Flask-RESTful==0.3.10
Flask-Cors==4.0.0
requests==2.31.0
lxml==5.1.0
tqdm==4.66.1
Js2Py==0.74
