<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script data-ionic="inject">
    (function (w) { var i = w.Ionic = w.Ionic || {}; i.version = '3.9.2'; i.angular = '5.0.3'; i.staticDir = 'build/'; })(window);
  </script>
  <meta charset="UTF-8">
  <title>{{ name }} App</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <!-- <link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico"> -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="theme-color" content="#4e8ef7">

  <!-- cordova.js required for cordova apps -->
  <!-- <script src="cordova.js"></script> -->

  <script src="{{ url_for('static', filename=config) }}"></script>
  <script src="{{ url_for('static', filename=data) }}"></script>

  <!-- MTD-UI JS dependencies -->
  <script src="https://roedoejet.github.io/mothertongues-UI/src/assets/js/mtd-ui.min.js"></script>

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="https://roedoejet.github.io/mothertongues-UI/www/build/main.css" rel="stylesheet">

</head>

<body>

  <!-- Ionic's root component and where the app will load -->
  <ion-app [entries]="allEntries"></ion-app>

  <!-- The polyfills js is generated during the build process -->
  <script src="https://roedoejet.github.io/mothertongues-UI/www/build/polyfills.js"></script>

  <!-- all code from node_modules directory is here -->
  <script src="https://roedoejet.github.io/mothertongues-UI/www/build/vendor.js"></script>

  <!-- The bundle js is generated during the build process -->
  <script src="https://roedoejet.github.io/mothertongues-UI/www/build/main.js"></script>

</body>

</html>