<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Mother Tongues</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../../dist/images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Hey, you've just made some sweet Mother Tongues Dictionaries. Congrats! Check them
            out below.</h4>
          <a class="button button-primary" href="https://mothertongues.org">Learn about Mother Tongues</a>
          <a class="button button-primary" href="https://docs.mothertongues.org">View Mother Tongues Docs</a>
        </div>
        <div class="one-half column phones">
          <!-- <img class="phone" src="images/iphone.png">
          <img class="phone" src="images/iphone.png"> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Need help getting started?</h3>
      <p class="section-description">Check out the Documentation below</p>
      <a class="button button-primary" href="https://docs.mothertongues.org">View Mother Tongues Docs</a>
    </div>
  </div> -->

  <div class="section">
    <div class="container">
      <h3 class="section-heading">Your Dictionaries</h3>
      <p class="section-description">Click on the links below to preview the dictionaries you've created.</p>
      <div class="row">
        <div class="one-half column category">
          {% for name in data %} <a class="button button-primary" href="/dictionaries/{{ name }}">{{name}}</a>
          {% endfor %}
        </div>
        <div class="one-half column category">
        </div>
      </div>
    </div>
  </div>




  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>