/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
  }
  
  /* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }
  .section-heading,
  .section-description {
    margin-bottom: 1.2rem;
  }
  
  /* Hero
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .phones {
    position: relative;
  }
  .phone {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
  }
  .phone + .phone {
    display: none;
  }
  
  /* Values
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .values {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
  }
  .value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }
  
  /* Help
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .get-help {
    border-bottom: 1px solid #ddd;
  }
  
  /* Categories
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .categories {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
  }
  .categories .section-description { 
    margin-bottom: 4rem;
  }
  
  /* Bigger than 550 */
  @media (min-width: 550px) {
    .section {
      padding: 12rem 0 11rem;
    }
    .hero {
      padding-bottom: 12rem;
      text-align: left;
      height: 165px;
    }
    .phone {
      position: absolute;
      top: -7rem;
      right: 3rem;
      max-height: 362px;
      z-index: 3;
    }
    .phone + .phone {
      top: -6rem;
      display: block;
      max-width: 73.8%;
      right: 0;
      z-index: 2;
      max-height: 338px;
    }
    .hero-heading {
      font-size: 2.4rem;
    }
  }
  
  /* Bigger than 750 */
  @media (min-width: 750px) {
    .hero {
      height: 190px;
    }
    .hero-heading {
      font-size: 2.6rem;
    }
    .section {
      padding: 14rem 0 15rem;
    }
    .hero {
      padding: 16rem 0 14rem;
    }
    .section-description {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .phone {
      top: -14rem;
      right: 5rem;
      max-height: 510px;
    }
    .phone + .phone {
      top: -12rem;
      max-height: 472px;
    }
    .categories {
      padding: 15rem 0 8rem;
    }
  }
  
  /* Bigger than 1000 */
  @media (min-width: 1000px) {
    .section {
      padding: 20rem 0 19rem;
    }
    .hero {
      padding: 15rem 0;
    }
    .hero-heading {
      font-size: 3.0rem;
    }
    .phone {
      top: -16rem;
      max-height: 615px;
    }
    .phone + .phone {
      top: -14rem;
      max-height: 570px;
    }
  }

  .hero-heading {
    margin-top: 5rem
  }

  .header-intro {
    margin-top: 7rem;
  }

  ul.alph {
    display: inline-flex;
    list-style-type: none;
  }

  ul.alph li {
    margin: .5vw
  }

  .section.description {
    padding-bottom: 0
  }

  .text-desc {
    margin-top: 5rem
  }

  td.Info {
    color: #50c878;
  }

  td.Error {
    color: crimson;
  }

  td.Warning {
    color: #cd5c5c;
  }

  #input {
    width: 100%;
    height: 100%;
    min-height: 1000px;
  }

  .section.hero {
    background: url(https://mothertongues.org/img/kayak.jpg)
  }

  .hero-heading {
    background: white;
    width: 500px;
    padding: 25px;
    border-radius: 35px;
  }